@tailwind base;
@tailwind components;
@tailwind utilities;

article > * > a {
	@apply text-ink dark:text-chalk font-extrabold underline underline-offset-4 decoration-wavy decoration-1 decoration-ink-faded dark:decoration-chalk-faded hover:opacity-90 transition-opacity
}